language: node_js

cache:
  directories:
    - node_modules
    - ~/.npm

node_js:
  - "12"

git:
  depth: 3

script:
  - yarn build

deploy:
  # github pages
  provider: pages
  skip-cleanup: true
  keep-history: true
  github-token: $GITHUB_TOKEN
  local-dir: /_dist_
  target-branch: gh-pages
  commit-message: "deploy"
  on:
    branch: main
